/* Line 71 */
a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5;
}

/* Line 74 */
a:hover {
    color: #ff6426 !important;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5;
}

/* Line 82 */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c3033;
    font-family: "Cardo", serif;
}

/* Line 86 */
p {
    font-family: "Lora", serif;
    line-height: 1.7;
    font-size: 18px;
    margin-bottom: 0px;
    color: #555555;
}

/* Line 94 */
h2 {
    font-size: 44px;
    line-height: 28px;
    color: #2c3033;
    font-weight: 600;
    line-height: 1.222;
} 

@media (max-width: 576px) {
    /* Line 94 */
     h2 {
        font-size: 22px;
        line-height: 25px;
     }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 94 */
    h3 {
        font-size: 22px;
        line-height: 25px;
    }
}

/* Line 111 */
h3 {
    font-size: 24px;
    line-height: 25px;
}

@media (max-width: 576px) {
/* Line 111 */
    h3 {
        font-size: 20px;
    }
}

/* Line 121 */
.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px;
    font-style: inherit;
    font-weight: 600;
    color: #2a2a2a;
}

/* Line 128 */
h5 {
    font-size: 18px;
    line-height: 22px;
}

@media only screen and (min-width: 1200px) and (max-width: 3640px) {
    /* Line 291 */
    .container {
        max-width: 1170px;
    }
}

/* Line 143 */
.section_tittle {
    margin-bottom: 70px;
}

@media (max-width: 576px) {
    /* Line 143 */
    .section_tittle {
        margin-bottom: 30px;   
    }    
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 143 */ 
    .section_tittle {
        margin-bottom: 30px;   
    }     
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Line */
    .section_tittle {
        margin-bottom: 30px;
        font-size: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Line 143 */ 
    .section_tittle {
        margin-bottom: 30px;
    }
}

/* Line 158 */
.section_tittle h2 {
    font-size: 40px;
    color: #2c3033;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

@media (max-width: 576px) {
    /* Line 158 */
    .section_tittle h2 {
        font-size: 25px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 158 */ 
    .section_tittle h2 {
        font-size: 25px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Line 158 */
    .section_tittle h2 {
        font-size: 25px;
        line-height: 35px;
    }   
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Line 158 */
    .section_tittle h2 {
        font-size: 35px;
        line-height: 40px;
    }     
}

/* Line 182 */ 
.section_tittle h2:after {
    width: 90px;
    height: 10px;
    position: absolute;
    content: "";
    bottom: 9px;
    z-index: -1;
    left: 0;
    background-color: #ff6426;
}

@media (max-width: 576px) {
    /* Line 182 */
    .section_tittle h2:after {
        bottom: 3px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 182 */ 
    .section_tittle h2:after {
        bottom: 3px;
      }
}

/* Line 205 */ 
.section_tittle p {
    color: #555555;
    font-size: 16px;
    margin-bottom: 7px;
}

/* ==================================blog CSS start================================== */ 
@media (max-width: 576px) {
    /* Line 3 */
    .blog_item_section .single_blog_item {
        margin-bottom: 20px;
    }    
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 3 */
    .blog_item_section .single_blog_item {
        margin-bottom: 20px;
    }       
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Line 3 */
    .blog_item_section .single_blog_item {
        margin-bottom: 20px;
    }       
}

/* Line 17 */
.blog_item_section .single_blog_item:hover .single_blog_text {
    border: 1 px solid transparent;
    box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
    background-color: #fff;
}

/* Line 23 */
.blog_item_section .single_blog_item:hover .btn_3 {
    color: #ff6426;
}

/* Line 25 */
.blog_item_section .single_blog_item:hover .btn_3 a {
    color: #ff6426;
}

/* Line 28 */ 
.blog_item_section .single_blog_item:hover .btn_3 img {
    transform: rotateX(-180deg);
    margin-bottom: 7px;
}

/* Line 36 */ 
.blog_item_section .single_blog_img img {
    width: 100%;
}

/* Line 40 */
.blog_item_section .single_blog_text {
    padding: 40px 30px;
    border: 1px solid #e7e7e7;
    border-radius: 100px 0px 623px 77px / 0px 50px 128px 58px;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media (max-width: 576px) {
    /* Line 40 */
    .blog_item_section .single_blog_text {
        padding: 20px 15px;
    }   
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 40 */
    .blog_item_section .single_blog_text {
        padding: 20px 15px;
    }  
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 40 */
    .blog_item_section .single_blog_text {
        padding: 20px 15px;
    }  
}

/* Line 60 */
.blog_item_section .single_blog_text {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    /* Line 60 */
    .blog_item_section .single_blog_text h3 {
        font-size: 20px;
      }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 60 */
    .blog_item_section .single_blog_text h3 {
        font-size: 20px;
      }   
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Line 60 */
    .blog_item_section .single_blog_text h3 {
        font-size: 20px;
      }   
}

/* Line 79 */ 
.blog_item_section .single_blog_text .btn_3 {
    color: #2c3033;
    margin-top: 28px;
    text-transform: capitalize;
}

/* Line 89 */
.blog_section .single_blog_text .date .date_item {
    color: #2c3033;
    font-size: 15px;
    margin-right: 19px;
}

/* Line 93 */ 
.blog_section .single_blog_text .date .date_item span {
    color: #ff6426;
}

/* Line 98 */
.blog_section .single_blog_text h3 {
    font-size: 24px;
    color: #2c3033;
    line-height: 1.458;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* Line 105 */
.blog_section .single_blog_text h3 a {
    color: #2c3033;
}

@media (max-width: 576px) {
    /* Line 98 */
    .blog_section .single_blog_text h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 98 */
    .blog_section .single_blog_text h3 {
        font-size: 20px;
      }
}

/* Line 121 */
.blog_section .single_blog_text .btn_3 {
    margin-top: 25px;
}

/* Line 123 */ 
.blog_section .single_blog_text .btn_3 img {
    margin-bottom: 8px;
}

/* ==================================About CSS Start==================================*/
/* Line 2 */
.about_part {
    position: relative;
    z-index: 1;
    padding: 80px 0px;
}

/* Line 7 */
.about_part .about_text h5 {
    font-family: "Lora", serif;
    font-size: 16px;
    color: #555555;
    margin-bottom: 18px;
}

/* Line 13 */
.about_part .about_text h4 {
    margin-bottom: 25px;
    color: #ff6426;
    font-size: 24px;
    font-weight: 300;
    font-family: "Cardo", serif;
}

@media (max-width: 576px) {
    /* Line 13 */
    .about_part .about_text h4 {
        margin-bottom: 20px;
        font-size: 17px;
      }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 13 */
.about_part .about_text h4 {
    margin-bottom: 20px;
    font-size: 17px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Line 13 */ 
    .about_part .about_text h4 {
        margin-bottom: 20px;
        font-size: 17px;
      }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Line 13 */
    .about_part .about_text h4 {
        margin-bottom: 20px;
        font-size: 17px;
      }
}

/* Line 35 */ 
.about_part .about_text h2 {
    line-height: 1.25;
    margin-bottom: 25px;
    font-size: 40px;
}

@media (max-width: 576px) {
    /* Line 35 */
    .about_part .about_text h2 {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 35 */
    .about_part .about_text h2 {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
/* Line 35 */
.about_part .about_text h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
/* Line 35 */
.about_part .about_text h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

/* Line 54 */ 
.about_part .about_text p {
    margin-top: 13px;
}

/* Line 57 */ 
.about_part .about_text .btn_3 {
    margin-top: 48px;
}

/* Line 62 */ 
.about_bg {
    position: relative;
    z-index: 1;
}

/* Line 65 */ 
.about_bg:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    bottom: 133px;
    z-index: -1;
    background: url(../img/about_overlay.png) bottom right no-repeat;
    background-size: 15% 60%;
    right: 0px;
}

@media (max-width: 576px) {
    /* Line 65 */
    .about_bg:after {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 65 */
    .about_bg:after {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Line 65 */
    .about_bg:after {
        display: none;
      }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Line 65 */
    .about_bg:after {
        display: none;
    }
}

/* Line 1 */
.breadcrumb_bg {
background-image: url("/assets/images/breadcrumb.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* Line 4 */
.breadcrumb {
    position: relative;
    z-index: 1;
    text-align: center;
}

/* Line 8 */
.breadcrumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    opacity: 0.6;
    z-index: -1;
}

/* Line 19 */
.breadcrumb .breadcrumb_iner {
    height: 300px;
    width: 100%;
    display: table;
}

/* Line 23 */
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item {
    display: table-cell;
    vertical-align: middle;
}

/* Line 26 */ 
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

@media (max-width: 576px) {
    /* Line 26 */
    .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* Line 26 */
    .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Line 26 */
    .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
        font-size: 40px;
    }
}

/* Line 45 */ 
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item p {
    font-size: 15px;
    color: #fff;
}

/* Line 49 */ 
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item span {
    margin: 0px 5px;
    font-size: 12px;
}

/* Line 58 */ 
.breadcrumb {
    margin-bottom: 0px !important;
}

.section_padding {
    padding: 140px 0px;
}